<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/styles.css">
    <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
    <title>Home || Amazing Events</title>
</head>

<body>
  <div id="app">
    <header class="w-100 bg-success">
          <nav class="navbar sticky-top navbar-expand-lg bg-success fs-5">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="./assets/pages/upcoming.html">Upcoming Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./assets/pages/past.html">Past Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./assets/pages/contact.html">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./assets/pages/stats.html">Stats</a>
                  </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <img src="./assets/images/amazing_brand.png" alt="Logo Amazing">
</header>
<main class="d-flex bg-dark flex-wrap aling-items-center justify-content-center">
  <template v-if="category.length > 0" v-for="categoria of category">
    <div class="form-check d-flex gap-2 aling-items-center justify-content-center ">
      <input class="form-check-input" type="checkbox" v-bind:id="categoria" v-bind:value="categoria" v-model="categoryCheck">
      <label class="form-check-label text-white" v-bind:for="categoria"> {{categoria}} </label>
  </div> 
  </template>
  <input type="search" class="form-control w-25 h-25 m-3" placeholder="Search Name" aria-describedby="basic-addon2" v-model="inputSearch">
  <div class="container-fluid d-flex flex-wrap gap-4 justify-content-center aling-items-center  p-4">
  {{filterCrossed}}
    <template v-if="filter.length > 0 " v-for="event of filter">
    <div class="card">
      <img v-bind:src="event.image" class="card-img-top" alt="...">
      <div class="card-body bg-dark text-white">
        <h5 class="card-title">{{event.name}}</h5>
        <p class="card-text">{{event.description}}</p>

        <a :href="'./assets/pages/details.html?id='+ event._id" class="btn btn-primary">Details</a>

      </div>
    </div>
  </template>
    <template v-else>
      <div>
        <h5 class="display-1 text-white">Not Fuond</h5>
      </div>
    </template>
  </div>


</main>
<footer class="bg-secondary d-flex aling-items-center">
    <div class=" d-flex aling-items-center gap-2" id="social">
    <a href="#"> <img src="./assets/images/whatsapp.png" alt=""></a>
    <a href="#"> <img src="./assets/images/instagram.png" alt=""></a>
    <a href="#"> <img src="./assets/images/facebook.png" alt=""></a>
</div>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./assets/scripts/app.js"></script>
</body>

</html>